body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
/* Estilos para el encabezado y el menú */
.header {
    background-color: #611232;
    padding: 10px 0;
    color: white;
    text-align: center;
}
.header img {
    height: 50px;
    vertical-align: middle;
}
.nav {
    background-color: #a57f2c;
    overflow: hidden;
}
.nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.nav a:hover {
    background-color: #575757;
}
.container {
    max-width: 900px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h1 {
    color: #333;
}
#map {
    height: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
}
canvas {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 2rem;
}